%h1 JulopediaNodes#index
%p Find me in app/views/julopedia_nodes/index.html.haml

%table
  %tr
    %th Id
    %th Name
    %th Kind
    %th Title
    %th Content
    %th Show
    %th Edit
    %th Delete
  - @nodes.each do |node|
    %tr
      %td= node.id
      %td= node.name
      %td= node.kind
      %td= node.title
      %td= node.content
      %td= link_to 'Show', julopedia_node_path(node)
      %td= link_to 'Edit', edit_julopedia_node_path(node)
      %td= delete_link(node)

= link_to 'New node', new_julopedia_node_path
